/* Body: sets margin to 0 for no space, padding around the whole body for asetectic purpose. Backgroudn set to light blue*/
body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: .5cm;
    background-color: lightblue;
}

/* Header: background set to pink and text set to dark pink. All text in area is centered. Font is changed to Helvetica */
header{
  background-color: pink;
  text-align: center;
  color: deeppink;
  font-family: Helvetica;
}

/* H3 & H4: all text is centered */
h3, h4{
  text-align: center;
}

/* Main: background color set to light blue, text set to dark blue. Font size increased. Font style changed to Arial */
main{
  background-color: lightblue;
  color: darkblue;
  font-size: 30px;
  font-family: Arial;
}

/* all img's size adjusted for website*/
img{
  height: 30px;
  width: 30px;
}

/* changes link to green when hovering and yellow when visited */
a:hover{
  color: green;
}
a:visited{
  color: yellow;
}

/* Modfies the size of the photo of myself to be centered and fit the webpage */
.profile{
  text-align: center;
  height: 50%;
  width: 100%;
}

/* Footer: background set to pink and text set to dark pink. Font is changed to Helvetica */
footer{
  background-color: pink;
  color: deeppink;
  font-family: Helvetica;
}